extends ../layouts/app

block content
    .container
        header.admin-header-title Kitchen Section
        hr
        section.food-section
            .forms
                form.forms__add(method="POST", action="/admin/kitchen")
                    .form-group
                        label.form__label(for="name") Name
                        input.form-control(type="text", name="name", id="name" placeholder="Enter food name")
                    .form-group
                        label.form__label(for="price") Price
                        input.form-control(type="text", name="price", id="price" placeholder="Enter food price")
                    .form-group
                        label.form__label(for="price") Description
                        textarea.form-control(name="description", cols="30", rows="10", placeholder="Enter food decription")
                    .form-group
                        label.form__label(for="price") Miscs.
                        input.form-control(type='text' name="misc",  placeholder="e.g: 'meat', 'plaintain'")
                    .form-group
                        label.form__label(for="photo") Photo
                        input.form-control(type='file' name="photo" accept="image/*")

                    button.btn.btn__add(type="submit") Add Food
            .food__display
                h3.food__list List of all foods
                table.food__table
                    tr
                        th Name
                        th Description
                        th Price
                        th Misc
                        th Photo
                        th Actions
                    
                    each food in foods
                        tr 
                            td= food.name
                            td= food.description
                            td= `NGN${food.price}`
                            td= food.misc
                            td= food.photo
                            td
                                a(href=`#`) Delete
                    
                    