extends index

block admin-nav
    .container
        section.user-section
            .food__display
                h3.food__list List of all Orders
                table.table.food__table
                    tr
                        th S/N
                        th Customer
                        th Item
                        th Phone
                        th Address
                        th Actions
                    - let cnt = 0;
                    each order in orders
                        - cnt++;
                        tr 
                            td= cnt
                            td= order.customer.name
                            td= order.item.name
                            td= order.customer.phone
                            td= order.address
                            td
                                a(href=`#`) Delete