extends index

block admin-nav
    .container
        section.user-section
            .food__display
                h3.food__list List of all Users
                table.table.food__table
                    tr
                        th S/N
                        th Name
                        th Email
                        th Phone
                        th Address
                        th Actions
                    
                    - let cnt = 0;
                    each user in users
                        - cnt++
                        tr 
                            td= cnt
                            td= user.name
                            td= user.email
                            td= user.phone
                            td= user.address
                            td
                                a(href=`#`) Delete